* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bgimg {
  background-image: url("./Components/images/wallpaper.jpg");
  /* background-position: center; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  top: 9vh;
  position: absolute;
  /* height:100vh; */
  height: 100%;
  /* padding-top:100%; */
  padding: 50vh 25vh;

}

.wrapper {
  position: relative;
  overflow: hidden;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

.page-heading h1 {
  font-size: 5rem;
  color: #000;
  font-weight: 300;
  background: rgba(248, 248, 248, 0.938);
  padding: 0px 20px;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .page-heading h1 {
    font-size: 3rem;
  }
}